* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.FooterComponent {
    width: 100%;
}

.FooterComponent-in {
    width: 100%;
    background-color: rgb(177, 8, 25);
}

.Footer-one {
    width: 100%;
}

.Footer-one-in {
    width: 90%;
    margin: auto;
    padding: 1.5rem;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Footer-one-one {
    color: white;
}

.Footer-one-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.Footer-one-two a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}


.Footer-two {
    width: 100%;
}

.Footer-two-in {
    width: 90%;
    margin: auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.Footer-one-on {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.Footer-two-in-in {
    width: 50%;
    display: flex;
}

.Footer-two-on {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    display: flex;
    gap: 1rem;
    padding: 0rem 4rem;
}

.ft-one-ft p {
    font-size: 1.5rem;
    font-weight: 600;
}


.Footer-one-on img {
    height: 200px;
    width: 200px;
}

.Footer-three-on { 
    width: 50%;
}

.ft-con-one {
    display: flex;
    gap: 1rem;
    color: white;
}

.ft-con-two {
    color: white;
    padding: 1rem 0rem;
}

.Footer-three {
    width: 100%;
    background-color: rgb(250, 147, 0);
}

.Footer-three-one {
    width: 90%;
    margin: auto;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 400;
    color: black;
    gap: .5rem;
}

.Fto {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Ftt {
    width: 50%;
    display: flex;
}

.Footer-three-one a {
    text-decoration: none;
    font-weight: 600;
    color: black;
    padding: 0rem .2rem;
}

@media screen and (max-width: 600px) {

    .Footer-three-one {
        width: 100%;
        padding: 1rem .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        font-weight: 400;
        color: black;
        gap: .5rem;
    }

    .Fto {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
    }
    
    .Fto span {
        display: none;
    }


    .Ftt {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .5rem;
    }

    .Footer-three-on { 
        width: 100%;
    }
    
    .ft-con-one {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .2rem;
        color: white;
    }
    
    .ft-con-two {
        color: white;
        padding: 1rem 0rem;
    }

    .Footer-three-one a {
        text-decoration: none;
        font-weight: 600;
        color: black;
    }

    .Footer-two-in {
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }

    .Footer-one-on { 
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .Footer-two-in-in {
        width: 100%;
        padding: 2rem 0rem;
    }

    .Footer-two-on { 
        width: 40%;
        justify-content: flex-start;
        padding: 1rem 1rem;
    }

    .Footer-three-on {
        padding: 1rem 0rem 0rem 1rem;
        width: 60%;
    }

    .ft-one-ft p{
        font-size: 1.2rem;
    }

    .ft-con-two p {
        font-size: .8rem;
    }

    .location {
        font-size: 1.5rem;
    }
}
